/* /Pages/Portfolio/TicTacToe.razor.rz.scp.css */
.board *[b-ewzwo6d37b] {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.board[b-ewzwo6d37b] {
    width: 498px;
    height: 498px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
    max-width: 100%;
    max-height: 100%;
}

.square[b-ewzwo6d37b] {
    width: 32%;
    height: 32%;
    border-radius: 30px;
    background: #78bec5;
    opacity: 80;
}

    .square:hover[b-ewzwo6d37b] {
        background: #ecaf4f;
        cursor: pointer;
    }

.char[b-ewzwo6d37b] {
    font-size: 5rem;
    text-align: center;
    font-weight: 800;
    margin-top: 18%;
    color: #dc685a;
}
