@inject IJSRuntime JS;

<header id="header" class="">
    <div class="container">
        <h1><a href="/">Praveen Matoria</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2>I'm a passionate <span>software engineer,</span></h2>
        <h2>with experience of <span>16+ years,</span></h2>
        <h2>MCP in <a href="https://learn.microsoft.com/en-gb/users/imatoria/transcript/dlrweuy3k8lk80z" target="_blank">Microsoft .NET Framework</a> <i class='bx bx-link-external'></i></h2>
        <h2>Explore my, <a href="https://imatoria.github.io/portfolio/">Portfolio</a></h2>
        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span>Home
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="about">
                        <span class="oi oi-plus" aria-hidden="true"></span>About
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="resume">
                        <span class="oi oi-plus" aria-hidden="true"></span>Resume
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="projects">
                        <span class="oi oi-plus" aria-hidden="true"></span>Projects
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="portfolio">
                        <span class="oi oi-plus" aria-hidden="true"></span>Portfolio
                    </NavLink>
                    <ul>
                        <li>
                            <NavLink class="nav-link" href="portfolio/tic-tac-toe">
                                <span class="oi oi-plus" aria-hidden="true"></span>Tic Tac Toe
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <NavLink class="nav-link" href="contact">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>Contact
                    </NavLink>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="social-links">
            <a href="https://github.com/imatoria" class="github"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/imatoria/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.instagram.com/imatoria/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://twitter.com/imatoria" class="twitter"><i class="bi bi-twitter"></i></a>
        </div>
    </div>
</header>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        JS.InvokeVoidAsync("onAssemblyLoad");
    }
}
