@inherits LayoutComponentBase

<Header />

<div class="page">
    <main>
        @Body
    </main>
</div>

<div class="credits">
    Designed &amp; Licensed by <a href="https://www.linkedin.com/in/imatoria/">Praveen Matoria</a><br>
</div>