@page "/portfolio"

<PageTitle>Portfolio</PageTitle>

<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Choose one</p>
        </div>

        <div class="navbar mx-3">
            <ul>
                <li>
                    <NavLink class="nav-link" href="portfolio/tic-tac-toe">
                        <span class="oi oi-plus" aria-hidden="true"></span>Tic Tac Toe
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</section>

<PageLoadScript Href="portfolio" />