@page "/portfolio/tic-tac-toe"
@inherits BasePage

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.4/sweetalert2.min.css">

<PageTitle>Tic Tac Toe</PageTitle>

<section id="portfolio_tic-tac-toe" class="tic-tac-toe">
    <div class="board">
        @for (int i = 0; i < 3; i++)
        {
            @for (int j = 0; j < 3; j++)
            {
                int xi = i;
                int yj = j;
                <div class="square" @onclick="@(() => SquareCliked(xi, yj))">
                    @if (Board[i, j] == "")
                    {
                        <h5 class="char text-nowrap">&nbsp;</h5>
                    }
                    else
                    {
                        <h5 class="char text-nowrap">@Board[i, j]</h5>
                    }
                </div>
            }
        }
    </div>
</section>

<PageLoadScript Href="portfolio/tic-tac-toe" />

<script src="/js/tic.tac.toe.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.4/sweetalert2.min.js"></script>
