@page "/mquiz"
@inherits BasePage

<PageTitle>@Title mQuiz</PageTitle>

<section id="mquiz" class="mquiz">

    <!-- ======= mQuiz ======= -->
    <div id="root" class="mquiz container">


    </div>
    <!-- End mQuiz -->

</section>

@* <PageLoadScript Href="about" /> *@
<script type="module" crossorigin src="mQuiz/assets/index-qa6SaUjQ.js"></script>
<link rel="stylesheet" crossorigin href="mQuiz/assets/index-BILIG979.css">
