@page "/projects"
@inherits BasePage

<PageTitle>@Title Projects</PageTitle>

<section id="projects" class="projects">
    <div class="container">

        <div class="section-title">
            <h2>Projects</h2>
            <p>My Projects</p>
        </div>

        <div class="row">
            <!--Project 1-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-book-content"></i>
                    </div>
                    <h4>Content Management System</h4>
                    <p>
                        A web based application for renting cars. 
                        I built the CMS in vb.net for dynamically generating 10000+ pages to boost speed during access.
                    </p>
                </div>
            </div>

            <!--Project 2-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-book-alt"></i>
                    </div>
                    <h4>Library Management System</h4>
                    <p>
                        A web based application for interanet and internet to read and rent books. 
                        Project was built in Asp.Net framework and now upgrading it to Blazor.
                    </p>
                </div>
            </div>

            <!--Project 3-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bxs-report"></i>
                    </div>
                    <h4>Inalsa</h4>
                    <p>
                        A web based reporting tool with 1400 tables. 
                        Reporting tool had all the functionalities like table joins, column selection, dynamic filter, creating views etc.
                    </p>
                </div>
            </div>

            <!--Project 4-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-bed"></i>
                    </div>
                    <h4>Snooze</h4>
                    <p>
                        A website built using Kentico CMS. 
                        It was a bedroom furniture provider to showcase its products.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

<PageLoadScript Href="projects" />