@page "/project"

<PageTitle>Projects</PageTitle>

<section id="project" class="project">
    <div class="container">

        <div class="section-title">
            <h2>Projects</h2>
            <p>My Projects</p>
        </div>

        <div class="row">
            <!--Project 1-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon">
                        <a href="ProjectStockMarketCharts.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details">
                            <i class="bi bi-graph-up-arrow"></i>
                        </a>
                    </div>
                    <h4><a href="">Stock Marker Charts</a></h4>
                    <p>
                        A web based application allowing users to use Candlestick, OHLC (Open-High-Low-Close) charts on stocks
                        from NASDAQ.
                    </p>
                </div>
            </div>

            <!--Project 2-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon">
                        <a href="ProjectCovid19Tracker.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details">
                            <i class="bi bi-activity"></i>
                        </a>
                    </div>
                    <h4><a href="">Covid 19 Tracker</a></h4>
                    <p>
                        Dashboard to show total number of confirmed cases, total number of patients recovered from covid and
                        number of people who lost their lives to covid. This can be filtered by country and can also be filtered
                        by data, It shows high level charts such as donut and line charts for better visualization of data.
                    </p>
                </div>
            </div>

            <!--Project 3-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon">
                        <a href="ProjectBlazingBlazor.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details">
                            <i class="bi bi-windows"></i>
                        </a>
                    </div>
                    <h4><a href="">Blazing Blazor</a></h4>
                    <p>
                        Blazor is a feature of ASP.NET, the popular web development framework that extends the .NET developer
                        platform with tools and libraries for building web apps.
                    </p>
                </div>
            </div>

            <!--Project 4-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon">
                        <a href="ProjectMetro.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bi-stoplights"></i></a>
                    </div>
                    <h4>Mumbai\Lucknow Metro</h4>
                    <p>
                        The Mumbai Metro is a rapid transit system serving the city of Mumbai and the wider Mumbai Metropolitan
                        Region in Maharashtra, India.
                    </p>
                </div>
            </div>

            <!--Project 5-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon">
                        <a href="ProjectCanvas.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bi bi-easel2"></i></a>
                    </div>

                    <h4><a href="">CygNet - Canvas</a></h4>
                    <p>
                        Canvas is HMI: Human-Machine Interface application, canvas provides high quality screen design
                        functionality, utilizing in variety of specialized tools &amp; controls that you can use to create user
                        screens to interface CygNet software.
                    </p>
                </div>
            </div>

            <!--Project 6-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"> <a href="ProjectTWC.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx  bi-globe2"></i></a></div>
                    <h4><a href="">Thin Web Client</a></h4>
                    <p>TWC is a web assembly allowing customers to view HMI-based screens and workflows in a web browser.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<PageLoadScript Href="project" />