@page "/resume"

<PageTitle>Resume</PageTitle>

<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>My journey</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Praveen Matoria</h4>
                    <p>
                        <em>
                            Innovative and deadline-driven Software Engineer with 5+ years of experience designing and developing
                            appliations for desktop, web and mobile platforms.
                        </em>
                    </p>
                    <p>
                    </p><ul>
                        <li>Jaipur, India</li>
                        <li>praveen.matoria@gmail.com</li>
                    </ul>
                    <p></p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Master of Computer Application</h4>
                    <h5>2004 - 2007</h5>
                    <p><em>Amity University, Noida</em></p>
                    <p>Asp.Net, C#, Asp.Net Core, Blazor, VB.Net, Javascript, ReactJS, HTML, CSS.</p>
                </div>

                <div class="resume-item">
                    <h4>Bachelor in Arts</h4>
                    <h5>2001 - 2004</h5>
                    <p><em>Rajasthan University</em></p>
                    <p>Economy, English, Maths.</p>
                </div>

            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior Software Developer</h4>
                    <h5>March, 2020 - Present</h5>
                    <p><em>Intigent Technologies (Jaipur, India)</em></p>
                    <p>
                    </p><ul>
                        <li>Working with international team.</li>
                        <li>Lead in the design, development, and implementation of the WPF &amp; Blazor applications.</li>
                        <li>Designing architecture for thin web client, &amp; developing blazor components.</li>
                        <li>
                            Delegate and supervise tasks of the 3 members of the development team and provide counsel on all
                            aspects of the project.
                        </li>
                        <li>
                            Helped company to minimize project's budget cost by developing successful POCs and developing
                            web app from the scratch.
                        </li>
                        <li>Nominated for 2022's star performer award by CEO.</li>
                    </ul>
                    <p></p>
                </div>
                <div class="resume-item">
                    <h4>Senior Software Developer</h4>
                    <h5>June, 2012 - Feb, 2020</h5>
                    <p><em>Vroom Vroom Vroom (Brisbane, Australia)</em></p>
                    <p>
                    </p><ul>
                        <li>Worked on Mumbai Metro and Lucknow Metro.</li>
                        <li>Designing user interface in WPF for Ticket Vending Machine &amp; Ticket Office Machine.</li>
                        <li>Programming card readers, Token Dispensing Machine &amp; Automatic Fare Collection gates.</li>
                        <li>Full-stack developer, developed &amp; reviewed code for metro projects.</li>
                        <li>led Lucknow metro's project team.</li>
                    </ul>
                    <p></p>
                </div>
                <div class="resume-item">
                    <h4>Senior Software Developer</h4>
                    <h5>Apr, 2009 - May, 2012</h5>
                    <p><em>Safaltek Software (Chandigarh, India)</em></p>
                    <p>
                    </p><ul>
                        <li>Worked in WPF, WCF and C# to plan, to design &amp; develop the full stack to manage crew activities.</li>
                        <li>Designed dashboards for seafarers.</li>
                        <li>Designed a framework, based on telerik controls for the project.</li>
                    </ul>
                    <p></p>
                </div>
                <div class="resume-item">
                    <h4>Software Developer</h4>
                    <h5>Aug, 2007 - Mar, 2009</h5>
                    <p><em>Xieno E-Services (Jaipur, India)</em></p>
                    <p>
                    </p><ul>
                        <li>Designed dashboards in Splunk to visualize vulnerabilities.</li>
                        <li>Developed a web portal to track new and updated vulnerabilities.</li>
                    </ul>
                    <p></p>
                </div>
                <div class="resume-item">
                    <h4>Intern</h4>
                    <h5>Mar, 2007 - August, 2007</h5>
                    <p><em>NCR Corporation (Gurgaon, India)</em></p>
                    <p>
                    </p><ul>
                        <li>Designed dashboards in Splunk to visualize vulnerabilities.</li>
                        <li>Developed a web portal to track new and updated vulnerabilities.</li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>

    </div>
</section>

<PageLoadScript Href="resume" />
@code {

}
