@page "/resume"

<PageTitle>Resume</PageTitle>

<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>My journey</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Praveen Matoria</h4>
                    <p>
                        <em>
                            Innovative and deadline-driven Software Engineer with 16+ years of experience designing and developing
                            appliations for web and progressive mobile applications.
                        </em>
                    </p>
                    <ul>
                        <li>Jaipur, India</li>
                        <li>praveen.matoria@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Master of Computer Application</h4>
                    <h5>2004 - 2007</h5>
                    <p><em>Amity University, Noida</em></p>
                    <p>Asp.Net, C#, Asp.Net Core, Blazor, VB.Net, Javascript, MS SQL, My SQL, jQuery, ReactJS, Solid JS, HTML, CSS, VBA.</p>
                </div>

                <div class="resume-item">
                    <h4>Bachelor in Arts</h4>
                    <h5>2001 - 2004</h5>
                    <p><em>Rajasthan University</em></p>
                    <p>Economics, English, Applied Maths.</p>
                </div>

            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior Software Developer</h4>
                    <h5>March, 2020 - Present</h5>
                    <p><em>Intigent Technologies ( Jaipur, India )</em></p>
                    <ul>
                        <li>Lead in the design, development, and implementation of the Blazor application.</li>
                        <li>Designing architecture &amp; developing blazor components.</li>
                        <li>Delegate and supervise tasks of the 5 members of the development team and provide counsel on all aspects of the project.</li>
                        <li>Daily development and maintenance of the Library Management product of the company.</li>
                        <li>Code reviewer of the LIbrary Management product.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior Software Developer</h4>
                    <h5>June, 2012 - Feb, 2020</h5>
                    <p><em>Vroom Vroom Vroom ( Brisbane, Australia )</em></p>
                    <ul>
                        <li>Worked remotely from home.</li>
                        <li>Designing architecture &amp; developing CMS (Content Management System) for 10000+ pages.</li>
                        <li>Daily development and maintenance of CMS (Content Management System) to work like static pages without any server interaction.</li>
                        <li>Daily development of upgrading CMS (Content Management System) form Asp.Net framework to Asp.Net Core.</li>
                        <li>Developed plugins for Imperavi Redactor WYSIWYG visual HTML editor.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior Software Developer</h4>
                    <h5>May, 2012 - Jun, 2012</h5>
                    <p><em>Accenture ( Gurgaon, India )</em></p>
                    <ul>
                        <li>Worked at improving jQuery plugins of the project.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior Software Developer</h4>
                    <h5>Apr, 2009 - May, 2012</h5>
                    <p><em>Safaltek Software ( Chandigarh, India )</em></p>
                    <ul>
                        <li>Daily development and maintenance of Reporting tool built using Asp.Net framework on web.</li>
                        <li>Development of tools used in Mentoring & Package Manager.</li>
                        <li>Delegate and supervise tasks of the 16 members of the design &amp; development team.</li>
                        <li>Worked under tight schedule of 7 days deployment cycle.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Software Developer</h4>
                    <h5>Aug, 2007 - Apr, 2009</h5>
                    <p><em>Xieno E-Services ( Jaipur, India )</em></p>
                    <ul>
                        <li>Daily development and maintenance of code using Kentico CMS.</li>
                        <li>Created plugins for the CMS in jQuery.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Intern</h4>
                    <h5>Mar, 2007 - August, 2007</h5>
                    <p><em>NCR Corporation ( Gurgaon, India )</em></p>
                    <ul>
                        <li>Daily development of in house built product for salary management of the staff.</li>
                        <li>Finished internship using Asp Script.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<PageLoadScript Href="resume" />
@code {

}
